In [1]:
import numpy as np
import pandas as pd

In [3]:
df = pd.read_csv("clean_1.csv")

In [4]:
df.head()

,Unnamed: 0.1,Unnamed: 0,Date,KeyWord,ActSubCase,Stage,Type,Date_new,days
0,0,0,2021-05-01 00:00:00,recoveryofmoney,370,misccases/purpose,cs(comm),2021-05-01,466
1,1,1,2021-07-09 00:00:00,permanentinjuction,730,misccases/purpose,csdj,2021-07-09,397
2,2,2,22-9-2021,executionact1990,10,misccases/purpose,ex,2021-09-22,322
3,3,3,23-9-2021,recoveryofmoney,2(1)(c)(i),plaintiff/petitionerevidence,cs(comm),2021-09-23,321
4,4,4,29-9-2021,recoveryofmoney,1510,misccases/purpose,cs(comm),2021-09-29,315

In [5]:
del df['Unnamed: 0.1']

In [6]:
del df['Unnamed: 0']

In [7]:
df.to_csv('clean_2.csv')

In [8]:
df = pd.read_csv('clean_2.csv')

In [9]:
df.head()

,Unnamed: 0,Date,KeyWord,ActSubCase,Stage,Type,Date_new,days
0,0,2021-05-01 00:00:00,recoveryofmoney,370,misccases/purpose,cs(comm),2021-05-01,466
1,1,2021-07-09 00:00:00,permanentinjuction,730,misccases/purpose,csdj,2021-07-09,397
2,2,22-9-2021,executionact1990,10,misccases/purpose,ex,2021-09-22,322
3,3,23-9-2021,recoveryofmoney,2(1)(c)(i),plaintiff/petitionerevidence,cs(comm),2021-09-23,321
4,4,29-9-2021,recoveryofmoney,1510,misccases/purpose,cs(comm),2021-09-29,315

In [10]:
del df['Unnamed: 0']

In [11]:
df.head()

,Date,KeyWord,ActSubCase,Stage,Type,Date_new,days
0,2021-05-01 00:00:00,recoveryofmoney,370,misccases/purpose,cs(comm),2021-05-01,466
1,2021-07-09 00:00:00,permanentinjuction,730,misccases/purpose,csdj,2021-07-09,397
2,22-9-2021,executionact1990,10,misccases/purpose,ex,2021-09-22,322
3,23-9-2021,recoveryofmoney,2(1)(c)(i),plaintiff/petitionerevidence,cs(comm),2021-09-23,321
4,29-9-2021,recoveryofmoney,1510,misccases/purpose,cs(comm),2021-09-29,315

In [12]:
del df['Date']

In [13]:
df.head()

,KeyWord,ActSubCase,Stage,Type,Date_new,days
0,recoveryofmoney,370,misccases/purpose,cs(comm),2021-05-01,466
1,permanentinjuction,730,misccases/purpose,csdj,2021-07-09,397
2,executionact1990,10,misccases/purpose,ex,2021-09-22,322
3,recoveryofmoney,2(1)(c)(i),plaintiff/petitionerevidence,cs(comm),2021-09-23,321
4,recoveryofmoney,1510,misccases/purpose,cs(comm),2021-09-29,315

In [14]:
len(df['KeyWord'].drop_duplicates())

37

In [15]:
for p in df['KeyWord']:
    if type(p)!= str:
        print('found ya..!!')
print('completed')

completed

In [18]:
data = df.values

In [19]:
data

array([['recoveryofmoney', '370', 'misccases/purpose', 'cs(comm)',
        '2021-05-01', 466],
       ['permanentinjuction', '730', 'misccases/purpose', 'csdj',
        '2021-07-09', 397],
       ['executionact1990', '10', 'misccases/purpose', 'ex',
        '2021-09-22', 322],
       ...,
       ['industrialdisputesact,1947', '120',
        'plaintiff/petitionerevidence', 'lir', '2017-01-16', 2032],
       ['industrialdisputesact,1947', '100', 'miscarguments', 'lir',
        '2017-01-20', 2028],
       ['industrialdisputesact,1947', '2a',
        'plaintiff/petitionerevidence', 'lir', '2017-05-29', 1899]],
      dtype=object)

In [20]:
data.shape

(224, 6)

In [23]:
len(data[:, 0])

224

In [24]:
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OneHotEncoder

In [28]:
ct = ColumnTransformer(transformers=[('encoder',OneHotEncoder(),[0])], remainder='passthrough')

In [30]:
y= data[:,0]

In [32]:
y.shape= (len(y), 1)

In [33]:
y=np.array(ct.fit_transform(y))

In [34]:
y

array(<224x37 sparse matrix of type '<class 'numpy.float64'>'
	with 224 stored elements in Compressed Sparse Row format>, dtype=object)

In [35]:
print(y)

  (0, 29)	1.0
  (1, 23)	1.0
  (2, 11)	1.0
  (3, 29)	1.0
  (4, 29)	1.0
  (5, 11)	1.0
  (6, 21)	1.0
  (7, 29)	1.0
  (8, 29)	1.0
  (9, 4)	1.0
  (10, 29)	1.0
  (11, 29)	1.0
  (12, 18)	1.0
  (13, 29)	1.0
  (14, 29)	1.0
  (15, 29)	1.0
  (16, 3)	1.0
  (17, 29)	1.0
  (18, 27)	1.0
  (19, 1)	1.0
  (20, 4)	1.0
  (21, 29)	1.0
  (22, 31)	1.0
  (23, 1)	1.0
  (24, 11)	1.0
  :	:
  (199, 29)	1.0
  (200, 36)	1.0
  (201, 1)	1.0
  (202, 11)	1.0
  (203, 18)	1.0
  (204, 30)	1.0
  (205, 5)	1.0
  (206, 5)	1.0
  (207, 34)	1.0
  (208, 29)	1.0
  (209, 24)	1.0
  (210, 29)	1.0
  (211, 15)	1.0
  (212, 15)	1.0
  (213, 15)	1.0
  (214, 15)	1.0
  (215, 15)	1.0
  (216, 15)	1.0
  (217, 15)	1.0
  (218, 15)	1.0
  (219, 15)	1.0
  (220, 15)	1.0
  (221, 15)	1.0
  (222, 15)	1.0
  (223, 15)	1.0